* {
    box-sizing: border-box;
}

/* Make the variables for the colors to be used in the page */
:root {
--main: rgb(11, 11, 11);
--second: rgba(10,5,200,1);
--third: rgb(98, 101, 106);
--dark: rgba(25,25,25, 1);
--light: rgba(230,230,230, 1);
}

/* Format the text of the body section */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--main);
    background-color: var(--light);
    line-height: 2.0;
}

h1, h2, h3, h4 {
    margin: 0;
}

p {
    margin: 0;
}

/* Style of the top header section with four different headers associated */

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--third);
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
}

/* Style of main head */

header h1 {
    color: var(--third);
    background-color: var(--second);
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 5vw;
    line-height: 1;
  }

  /* Style of the section containing the three lesser headlines up top */

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
 /* Style of the text in the lesser heads */

section a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--second);
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--second) 0%, var(--second) 100%);
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}

 /* Space out the main section from the rest */

main {
    margin-top: 20px;
    margin-bottom: 20px;
}

 /* Style of the section under the main heads up top with headshot and subtitle */

.headshot-sec {
    background-color: var(--light);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 30vh;
    color: var(--dark);
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
    flex-wrap: wrap;
}

.headshot-sec article h2 {
    flex: 0 0 90%;
    background-color: var(--second);
    color: var(--third);
    margin: 0;
    padding: 5px 10px;
    font-size: 2.0rem;
    line-height: 1.2;
    display: inline;
}

.headshot img {
    display: flex;
    min-width: 200px;
    max-width: 250px;
    height: auto;
    border: 5px solid var(--third);
    margin-left: 5px;


}

 /* style the .all-wrap section in main */

.all-wrap {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

 /* Style of the section with headline work */

.portfolio-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.portfolio-section h3{
    flex: 0 0 25%;
    text-align: center;
    padding-right: 15px;
    border-right: 4px solid var(--dark);
    font-size: 4vw;
    line-height: 1.1;
    margin-bottom: 5px;
}

.portfolio-section article{
    flex: 0 0 80%;
    margin-bottom: 10px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-box {
    border: 5px solid var(--second);
    background-color: rgb(11, 11, 11, .2);
    color: black;
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: center;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
    flex: auto;
}

.work-box:first-child{
    min-height: 300px;
    flex-basis: 100%;
}

.boxes h4 {
    font-size: larger;
}
.boxes span {
    font-size: medium;
}

 /* Add background images to each work box */

.main-box{
    background-image: url("../assets/images/Horiseon-image.jpeg");
}

.second-box{
    background-image: url("../assets/images/notification-image.jpg");
}

.third-box{
    background-image: url("../assets/images/random-site.jpeg")
}

 /* Style of the bottom footer section with contact info*/

footer address{
align-items: flex-start;
text-align: center;
padding: 10px;
flex-wrap: wrap;
border: 20px;
border-color: black;
}

footer address a {
    color: var(--third);
    background-color: var(--second);
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 2vw;
    line-height: 1;
    flex-wrap: wrap;
    align-items: middle;
    justify-content: center;
    display: inline-block;
    border: 5px solid var(--third);
}

 /* changing the sections for when the screen gets smaller */

@media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    header section {
      justify-content: center;
    }
  
    .portfolio-section h3,
    .portfolio-section article {
      flex: 0 0 100%;
    }
  
    .portfolio-section h3 {
      border-right: none;
      border-bottom: 4px solid var(--main);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    }

    footer {
        border-right: none;
        border-bottom: 4px solid var(--main);
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 7vw;
    }
  }
  











